<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>awatkin.eu</title>
        <link href="/static/about.css" rel="stylesheet">
        <meta name="google-site-verification" content="CthnhVzPWgF0tf27a2JEd8d2xZjcs2Ati_TUhRiUdJg" />
    </head>
    <body>

        <h1>Adam Watkin - software developer</h1>
{#        <h2>This is a temporary page and still a work in progress.</h2>#}

        <h2>About me</h2>
        <p>
        I am a 31 year old software developer and a graduate of the OU.
        <br>
        I enjoy learning new things and am continually learning something, usually programming related.
            <br>
            <br>
            Towards this end I have undertaken several projects and frequently do online courses on various things.
            You can see a
            {% url 'recent' as recent %}
            <a href="{{ recent }}"> complete list of courses and projects I have done recently.</a>.

        </p>

        <h2>Academic Projects</h2>
        <p>
        <ul>
        <li>
        <p>
        <h4>Data analysis and management (TM351, Tutors: Dr. Tony Burrows and Ms. J Buxton, 2016):</h4>
        An analysis of bat hibernation and roost data using K-means clustering and silhouette analysis.
        Statistical differences between the two datasets were also explored including the use of the Chi-squared test.
        Consideration was also given to data protection.

        <h5>Technologies used: Python, numpy, pandas, matplotlib, scipy, seaborn and sklearn machine learning package.</h5>
        </p>
        </li>

        <li>
        <p>
        <h4>Distributed and concurrent systems (M363, Tutor: Mr. D Oddie, 2015):</h4>
        Throughout the course several elements of a music store auction site were developed included database logic, chat room and front end pages.  </p>

        <h5>Technologies used: Java EE, EJBs, servlets. Glassfish3</h5>
        </li>


        <li>
        <p>
        <h4>Software engineering (TM354, Tutor: Dr. C Thomson 2016):</h4>
        Group projects included designing a management system for a boat club. With activity diagram, conceptual model, performance and usability scenarios considered.
        </p>
        <h5>This course involved: Java and an agile software design approach based on scrum and UML.</h5>
        </li>


        <li>

        <h4>Renewable energy systems (T313, Tutor: Mr J R Bradley 2015):</h4>
        <p>
        An independent desk study was undertaken to advice on implementation of fabrics and renewable energy system improvements to a residential home.
        NHER plan assessor was used and a detailed financial assessment taking into account NPV and IRR was undertaken.
        Advice was then presented based on this analysis taking into account financial outcomes and CO2 emissions.
        </p>
        </li>

        <h2>Personal projects</h2>
        <p>

        <li>
        <p>
        <h4>Pricing service (2016):</h4>
        Allows users to set the price alerts for various items and be notified by email when a price point is met.
        <h5>Technologies used: Flask, MongoDB, Beautifulsoup, Bootstrap, Mailgun.</h5>
        </p>
        <a href="https://pricing-service-exercise.herokuapp.com/">Hosted on Heroku here. (may be a little slow to start due to how Heroku works)</a>
        <br>
            <a href="https://github.com/a-watkin/pricing-service-exercise">Git repository.</a>
        </li>

        <li>
        <p>
        <h4>To-do list (2017):</h4>
        A to-do list web application developed using TDD.
        <h5>Technologies used: Django, sqlite3, Selenium, Bootstrap, Javascript, CSS, nginx, fabric3, gunicorn.</h5>
        <a href="https://superlists.awatkin.eu/">Hosted on Digital ocean here. (live version)</a>
            <br>
            <a href="http://superlists-staging.awatkin.eu/">Hosted on Digital ocean here. (staging version)</a>
            <br>
            <a href="https://github.com/a-watkin/django-tdd">Git repository.</a>
        </p>
        </li>



        <li>
        <p>
        <h4>Presentation timer (2016 - 2017):</h4>
        Presentation Timer is a desktop application intended to help academics and other people practice presentations with strict time limits.
        <h5>Technologies used: Python, Tkinter, Javascript, CSS</h5>
        <a href="https://d1hot8pfvasp5a.cloudfront.net/">Hosted on AWS here. (Javascript version)</a>
            <br>
            <a href="https://github.com/a-watkin/presentation-timer">Git repository for python version.</a>
            <br>
            <a href="https://github.com/a-watkin/a-watkin.github.io">Git repository for Javascript version.</a>
        </p>

        </li>

        <li>
        <p>
        <h4>Mouse recorder demo (March, 2017):</h4>
        Records mouse movement and clicks along with a unique id, screen size and the current URL. The mouse movements can then be played back.
        <h5>Technologies used: jQuery and CSS, see it here.</h5>
        <a href="https://d3thoo2tag59yd.cloudfront.net/">Hosted on AWS here.</a>
            <br>
            <a href="https://github.com/a-watkin/mouse-recorder">Git repository.</a>
        </p>

        </li>

        <li>
        <p>
        <h4>Wiki-goo (June, 2017):</h4>
        Wiki-goo is a mash up of the wikipedia and google maps APIs.
        Given an address it returns a marker for that address and wikipedia articles related to that area within a set geographical limit so you can discover interesting things connected to that area.

        <h5>Technologies used: Google maps API, Wikimedia API, jQuery, Javascript, HTML, Bootstrap, CSS.</h5>
        </p>
        <a href="http://aws-website-wikki-goo-kgi2q.s3-website-us-east-1.amazonaws.com/">Hosted on AWS here.</a>
            <br>
            <a href="https://github.com/a-watkin/wiki-goo">Git repository.</a>

        </li>
        </ul>
        </p>

        <h2>Other links</h2>
        <ul>
            <li><a href="https://stackoverflow.com/users/6875013/a-watkin">Stackoverflow</a></li>
            <li><a href="https://github.com/a-watkin">Git</a></li>
        </ul>
    </body>
</html>
