<!DOCTYPE html>
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
        <title>awatkin.eu</title>
        <link href="/static/about.css" rel="stylesheet">
    </head>
    <body>
    <title>Things done recently</title>

        <h1>From least to most recent, this is NOT a complete list.</h1>

    <p>
        I still need to update this list and add a lot of things.
    </p>

    <ul>

        <li>
        Software engineering (module for degree)
        </li>
        <li>
        Data analysis and management (module for degree)

        <br>

            <li>

        GOT MY DEGREE – October 2016 (upper second)
        <br>


        <li>
        Git essential training – Lynda.com
        <br>

        <li>
        Regular expressions – Lynda.com
    <li>
        Up and running with Django – Lynda.com
<li>
        Tkinter  - Lynda.com and others


<li>
        Up and running with angularJS – Lynda.com (angular 1)


<li>
    AngularJS – Lynda.com, w3school
<li>
    jQuery – Lynda.com, w3school
<li>
    Some HTML and CSS – Lynda.com, w3school
<li>
    Automate the boring stuff with python
<li>
    Selenium (sketchy) (some projects that i can’t share...)
<li>
    Design patterns (sketchy)
<li>
    HTML5 structure syntax and semantics
<li>
    HTML essential training – Lynda.com
<li>
    Enhancing the DOM – Lynda.com
<li>
    Web programming with python – Udemy.com
<li>
    Python OO – oriely.com
<li>
    Think like a computer scientist
<li>
    How to think like a programmer (not finished)
<li>
    Problem solving with algorithms and data structures using python - review, previously studied as part of algorithms course
<li>
    Javascript essential training – Lynda.com
<li>
    Javascript functions – Lynda.com
<li>
    CSS fundamentals – Lynda.com (not done yet)

<li>
    Web project workflows – Lynda.com (not done yet)
<li>
    Python networking and security – (sketchy)
<li>
    Javascript and JSON – Lynda.com (not done?)
<li>
    Practical and effective javascript – Lynda.com (not done yet?)
<li>
    Amazon web services essential training – Lynda.com (not finished)
<li>
    Security scripting with python – infinite skills (some interesting and possibly useful snippets)
<li>
    Python data structures – Oreilly (not finished)
<li>
    Foundations of programming: Data structures – Lynda.com
<li>
    Python: Data analysis (python, numpy, scipy, seaborn, pandas) – Lynda.com
<li>
    Learning NPM the Node Package Manager – Lynda.com
<li>
    Python generators – Lynda.com (sketchy)
<li>
    Lynda.com – getting things done
<li>
    Lynda.com – finding a remote job
    <li>
    Lynda.com – coding interviews

    </ul>




</body>
</html>
